package de.tiq.jdbc;

 import java.sql.ResultSet;
 import java.sql.SQLException;
 import javax.annotation.Generated;

// creation time: $creatingTimestamp
@Generated("${generatedAnnotationClass}")
public abstract class QueryExecutor {
	protected TIQConnection con;
	protected QueryExecutor(TIQConnection con){
		this.con = con;	
	}
	public abstract ResultSet executeQuery(String sql) throws SQLException;
	public abstract int executeUpdate(String sql) throws SQLException;
}